h1 URL Shortener
a(href="https://www.freecodecamp.org" target="blank")
  h2 freecodecamp.org
p Enter a url such as 
  a(href="https://ravenstudios-rl-shortener.glitch.me/new/https.www.freecodecamp.org") https://ravenstudios-rl-shortener.glitch.me/new/https.www.freecodecamp.org
  |    to get a shortened url.
p Or use the shortened url such as  
  a(href="https://ravenstudios-rl-shortener.glitch.me/1") https://ravenstudios-rl-shortener.glitch.me/1
  
p You must use the format of http://www.website.com or https://www.website.com

h3= message
